<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Headers" value="Origin,X-Requested-With,Content-Type,Accept" />
                <add name="Access-Control-Allow-Origin" value="*" />
				<add name="Access-Control-Allow-Methods" value="GET,POST,OPTIONS" />
                <add name="Cross-Origin-Embedder-Policy" value="require-corp" />
                <add name="Cross-Origin-Opener-Policy" value="same-origin" />
            </customHeaders>
        </httpProtocol>
		<directoryBrowse enabled="true" />
        <defaultDocument>
            <files>
                <add value="teramap.html" />
            </files>
        </defaultDocument>
        <staticContent>
            <mimeMap fileExtension=".qml" mimeType="text/plain" />
			<mimeMap fileExtension=".ttc" mimeType="application/x-font-ttc" />
			<mimeMap fileExtension=".ndjson" mimeType="application/x-ndjson" />
			<mimeMap fileExtension=".geojson" mimeType="application/geojson" /> 
            <mimeMap fileExtension=".ktx2" mimeType="image/ktx2" />
            <mimeMap fileExtension=".terrain" mimeType="application/octet-stream" />
			<mimeMap fileExtension=".rcc" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".pak" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".gltf" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".b3dm" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".shp" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".shx" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".dbf" mimeType="application/octet-stream" />
            <mimeMap fileExtension=".mesh" mimeType="application/octet-stream" />
        </staticContent>
    </system.webServer>
</configuration>
